  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Acquista Giocatori</h1>
    {% if parameters.error %}
      <div class="alert alert-danger text-center">
        <h3>Errore!</h3>{{parameters.error}}
      </div>
    {% endif %}
    {% if parameters.warning %}
      <div class="alert alert-warning text-center">
          <h3>Attenzione!</h3> {{parameters.warning}}
      </div>
    {% else %}
    <div class="panel-group" id="accordionGroup" role="tablist" aria-multiselectable="true">
      <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="guideHeading">
          <h4 class="panel-title">
            {% if parameters.players is defined %}{#Keep the searchbox closed if we already did a search#}
            <a role="button" data-toggle="collapse" data-parent="#accordionGroup" href="#collapseGuide" aria-expanded="false" aria-controls="collapseGuide">
              Guida
            </a>
            {% else %}
            <a role="button" data-toggle="collapse" data-parent="#accordionGroup" href="#collapseGuide" aria-expanded="true" aria-controls="collapseGuide">
              Guida
            </a>
            {% endif %}          
          </h4>
        </div>
        {% if parameters.players is defined %}
        <div id="collapseGuide" class="panel-collapse collapse" role="tabpanel" aria-labelledby="guideHeading">
        {% else %}
        <div id="collapseGuide" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="guideHeading">
        {% endif %}
          <div class="panel-body">
            <ol>
              <li>Cerca il giocatore tramite il box di ricerca qua sotto cliccando su "Cerca Giocatore".<br />Puoi inserire anche solo parte del nome</li>
              <li>Se hai abbastanza soldi vedrai un'icona sotto la colonna "Compra" per effettuare l'acquisto. Cliccaci sopra!</li>
              <li>Puoi effettuare altre ricerche prima di terminare gli acquisti: quando clicchi sull'icona "Compra" i giocatori vengono messi nel carrello della spesa.</li>
              <li>Una volta comperati tutti i giocatori che vuoi, vai alla pagina del carrello per confermare gli acquisti!</li>
            </ol>
            <p>Ricordati che ti vengono mostrati solo i giocatori che non sono ancora nella tua rosa</p>
            <p><small>P.S: Puoi vedere la lista completa dei giocatori lasciando i campi vuoti e premendo su "Cerca"</small></p>
          </div>
        </div>
      </div>{#END panel panel-info#}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="findHeading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordionGroup" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
              Cerca Giocatore
            </a>
          </h4>
        </div>
        <div id="collapseSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="findHeading">
          <div class="panel-body">
            <form action="buy" method="POST" role="form">
              <div class="form-group">
                <label for="form-name">Nome</label>
                <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Nome Giocatore">
              </div>
              <div class="form-group">
                <label for="form-price">Prezzo</label>
                <input type="number" min="0" class="form-control" id="form-price" name="form-price" placeholder="Prezzo minore o uguale di..">
              </div>
              <div class="form-group text-center">
                <label>Ruolo</label>
                <div class="checkbox">
                  <label class="checkbox-inline">
                    <input type="checkbox" name="form-por" value="POR">
                    Portiere
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" name="form-dif" value="DIF">
                    Difensore
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" name="form-cen" value="CEN">
                    Centrocampista
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" name="form-att" value="ATT">
                    Attaccante
                  </label>
                </div>
              </div>
              <div class="text-center form-group">
                <button type="submit" class="btn btn-primary" id="searchBtn">Cerca</button>
              </div>
            </form>
          </div>
        </div>
      </div>{#END panel panel-default#}
    </div>{#END panel-group#}        
    {% endif %}
    {% if parameters.players is defined %}
      {% if parameters.players is not empty %}
        <p class="text-center">
          <a class="btn btn-info" href="checkout" role="button">Vai al carrello</a>
        </p>
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-condensed">
            <thead class="header">
              <tr>
                <th class="text-center">Ruolo</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Prezzo</th>
                <th class="text-center">Compra</th>
              </tr>
            </thead>
            <tbody>
            {% for data in parameters.players %}
              <tr class="text-center">
                <td>{{data.Position}}</td>
                {% set name = data.Name|split(' ', 2) %}
                {% if name[1] is defined %}{#Some names don't have surnames, so this may not exist#}
                  <td><span class="name">{{name[0]|first}}. {{name[1]}}</span><br /><small>{{data.Team|raw}}</small></td>
                {% else %}
                  <td><span class="name">{{name[0]}}</span><br /><small>{{data.Team|raw}}</small></td>                
                {% endif %}
                <td class="price">{{data.Cost}}</td>
                <td>
                  {% if userMoney >= data.Cost %}
                    <span class="glyphicon glyphicon-shopping-cart text-primary" player-id="{{data.SPID}}"></span>
                    <span class="hidden glyphicon glyphicon-remove text-danger" player-id="{{data.SPID}}"></span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>{#END table-responsive#}
      {% else %}{#parameters.players is empty#}
        <div class="alert alert-warning text-center">
          <h3>Nessun risultato!</h3> Il giocatore che stai cercando non esiste o &egrave; gi&agrave; nella tua rosa.
        </div>
      {% endif %}
    {% endif %}
  </div>{#END col-xs-12 col-sm-6 col-sm-offset-3#}
