  <div class="small-12 medium-8 medium-offset-2 columns">
  {#Pager#}
  <div class="pagination-centered">
    <legend>Giornate</legend>
    <ul class="pagination">
      {#Prev arrow, enable only if index != 1#}
      <li {{parameters.currentMid == 1 ? 'class="arrow unavailable"' : 'class="arrow"'}}><a href="//{{app.request.getHttpHost()}}/marks/day-1">&laquo;</a></li>
      {% for day in range(parameters.currentMid-5,parameters.currentMid-1,-1) if day > 0 %} {#Print the 5 previous currentMids#}
        <li><a href="//{{app.request.getHttpHost()}}/marks/day-{{day}}">{{day}}</a></li>
      {% endfor %}
      <li class="current"><a href="#">{{parameters.currentMid}}</a></li>
      {% for day in range(parameters.currentMid+1,parameters.currentMid+5,1) if day <= parameters.playedDays %} {#Print the 5 next currentMids#}
        <li><a href="//{{app.request.getHttpHost()}}/marks/day-{{day}}">{{day}}</a></li>
      {% endfor %}
      <li {{parameters.currentMid == parameters.playedDays ? 'class="arrow unavailable"' : 'class="arrow"'}}><a href="//{{app.request.getHttpHost()}}/marks/day-{{parameters.playedDays}}">&raquo;</a></li>
    </ul>
  </div>
    <h1 class="text-center">Voti giornata {{parameters.currentMid}}</h1>
  {% if parameters.warning %} {# Player has no formation, so no scores #}
    <div data-alert class="alert-box warning radius text-center">
      <h3>Voti non disponibili!</h3> {{parameters.warning}}
    </div>      
  {% else %}
    {% if parameters.playerMarks.POR %} {#Check the first player, but could have also checked the last..#}
      <table class="center">
        <thead>
          <tr>
            <th class="text-center">Ruolo</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Voto</th>
          </tr>
        </thead>
        <tbody>
          {% for role,data in parameters.playerMarks if data %}
          <tr>
            {% set role_new = role|split('-',3) %}
            {% if role_new[2] is defined %}
              <td class="text-center">{{role_new[0]}} {{role_new[1]}} {{role_new[2]}}</td>
            {% elseif role_new[1] is defined %}
              <td class="text-center">{{role_new[0]}} {{role_new[1]}}</td>
            {% else %}
              <td class="text-center">{{role_new[0]}}</td>
            {% endif %}
            {% set name_new = data.name|split(' ', 2) %}
            {% if name_new[1] is defined %}
              <td class="text-center">{{name_new[1]}}</td>
            {% else %}
              <td class="text-center">{{name_new[0]}}</td>                
            {% endif %}
              <td class="text-center">{% if data.mark is null or data.mark == 0 %} S.V {% else %} {{data.mark}} {% endif %}</td>
          </tr>
          {% endfor %}
          <tr class="active">
            <td colspan="3" class="text-center"><b>Totale:</b> {{parameters.total}}</td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <div data-alert class="alert-box warning radius text-center">
        <h3>Voti non disponibili</h3> I voti per la giornata {{parameters.currentMid}} non sono ancora usciti!
      </div>
    {% endif %}
  {% endif %}
  </div>