  <div class="small-12 medium-8 medium-offset-2 columns">
    {% if parameters.error %}
      <div data-alert class="alert-box alert radius text-center">
        <h3>Errore!</h3>{{parameters.error}}
      </div>
    {% elseif parameters.success %}
      <div class="alert-box success radius text-center">
        <h3>Giocatori venduti!</h3>{{parameters.success}} 
      </div>
    {% elseif parameters.warning %}
      <div data-alert class="alert-box warning radius text-center">
        <h3>Attenzione!</h3>{{parameters.warning}} 
      </div>        
    {% endif %}
    {% if parameters.rosterStatus is defined %}
      <div class="panel radius">
        <h4 class="text-center"><i class="fi-torsos-all"></i> Riepilogo rosa</h4>
        <ul>
          <li><b>Portieri</b> <i {{parameters.rosterStatus.POR < 3 ? 'class="text-danger fi-x"' : 'class="fi-check text-success"'}}></i> ({{parameters.rosterStatus.POR}}/3)</li>
          <li><b>Difensori</b> <i {{parameters.rosterStatus.DIF < 7 ? 'class="text-danger fi-x"' : 'class="fi-check text-success"'}}></i> ({{parameters.rosterStatus.DIF}}/7)</li>
          <li><b>Centrocampisti</b> <i {{parameters.rosterStatus.CEN < 8 ? 'class="text-danger fi-x"' : 'class="fi-check text-success"'}}></i> ({{parameters.rosterStatus.CEN}}/8)</li>
          <li><b>Attaccanti</b> <i {{parameters.rosterStatus.ATT < 5 ? 'class="text-danger fi-x"' : 'class="fi-check text-success"'}}></i> ({{parameters.rosterStatus.ATT}}/5)</li>
        </ul>
      </div>
    {% endif %}
    {% if parameters.userPlayers is defined and parameters.userPlayers is not empty %}
    
    {#Print the table with the players#}
      <form action="roster" method="POST" role="form">
          <table class="center">
            <thead>
              <tr>
                <th class="text-center">Ruolo</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Prezzo</th>
                <th class="text-center">Cedi</th>
              </tr>
            </thead>
            <tbody>
            {% for player in parameters.userPlayers %}
              <tr>
                <td class="text-center">{{player.pos}}</td>
                {% set name = player.name|split(' ', 2) %}
                {% if name[1] is defined %}{#Some names don't have surnames, so this may not exist#}
                  <td class="text-center"><span class="name">{{name[0]|first}}. {{name[1]}}</span><br /><small>{{player.team|raw}}</small></td>
                {% else %}
                  <td class="text-center"><span class="name">{{name[0]}}</span><br /><small>{{player.team|raw}}</small></td>                
                {% endif %}
                <td class="price text-center">{{player.cost}}</td>
                <td class="text-center">
                  {% if parameters.warning is empty %}{# Print only if market is open #}
                  <a class="text-danger"><i class="fi-trash" aria-hidden="true" player-id="{{player.SPID}}"></i></a>
                  <a class="text-muted"><i class="fi-x hide" aria-hidden="true" player-id="{{player.SPID}}"></i></a>
                  <input type="hidden" value="" name="">
                  {% endif %}                
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% if parameters.warning is empty %}{# Print only if market is open#}
        <div class="form-group text-center">
          <button type="submit" class="btn btn-info">Conferma Cessioni</button>
        </div>
        {% endif %}
      </form>
    {% elseif parameters.error is empty %}{#User has no players in its roster#}
    <div data-alert class="alert-box warning radius text-center">
        <h3>Vuoto!</h3> Non hai nessun giocatore in rosa
    </div>
    {% endif %}
  </div>