<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="mobile-header" class="navbar-header">
        <button type="button" class="btn btn-success" id="responsive-menu-button">Menu</button>
      </div>

      <div id="myNav" role="navigation">
        <ul class="nav nav-tabs nav-justified">
          {% for displayedName,options in menu %}
          {#  options is:
                - 0: link to the page
                - 1: add active class? yes/no
                - 2: display page? yes/no
              OR another array as options
          #}
            {% if options[0] is not defined %} {# It's an associative array! Iterate again! #}
              {% set elem = options|first %}
              {% if elem[2] %}
                <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{displayedName}} <span class="caret"></span></a>  
                <ul class="dropdown-menu">
                  {% if displayedName == 'Profilo' and userMoney is defined and username is defined and userMoney >= 0 %}
                    <li role="presentation" class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{username}}  <span class="glyphicon glyphicon-piggy-bank"></span> {{userMoney}}</li>
                  {% endif %}
              {% endif %}
              {% for dd_displayedName,dd_options in options %}
                  {% if dd_options[2] %}{#Display page?#}
                    <li role="presentation" {% if dd_options[1] %}class="active"{% endif %}><a href="{{dd_options[0]}}">{{dd_displayedName}} <span class="sr-only">{{dd_displayedName}}</span></a></li> 
                  {% endif %}                    
              {% endfor %}
              {% if elem[2] %}
                </ul>
                </li>
              {% endif %}
            {% elseif options[2] %} {#Display page?#}
              <li role="presentation" {% if options[1] %}class="active"{% endif %}><a href="{{options[0]}}">{{displayedName}} <span class="sr-only">{{displayedName}}</span></a></li>                
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div id="mobile-only" class="hidden">
        {% if userMoney is defined and username is defined and userMoney >= 0 %}
          <h4>Bentornato <b>{{username}}</b></h4>
          <h4>Hai un totale di <span class="label label-default">{{userMoney}}</span> crediti</h4>
        {% endif %}
        <ul>
            {% for displayedName,options in menu %}
            {#  options is:
                  - 0: link to the page
                  - 1: add active class? yes/no
                  - 2: display page? yes/no
                OR another array as options
            #}
              {% if options[0] is not defined %} {# It's an associative array! Iterate again! #}
                {% for dd_displayedName,dd_options in options %}
                    {% if dd_options[2] %}{#Display page?#}
                      <li {% if dd_options[1] %}class="active"{% endif %}><a href="{{dd_options[0]}}">{{dd_displayedName}} <span class="sr-only">{{dd_displayedName}}</span></a></li> 
                    {% endif %}                    
                {% endfor %}
              {% elseif options[2] %} {#Display page?#}
                <li {% if options[1] %}class="active"{% endif %}><a href="{{options[0]}}">{{displayedName}} <span class="sr-only">{{displayedName}}</span></a></li>                
              {% endif %}
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
</div>