<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap"> {#EVERYTHING goes inside this div#}
		<div class="fixed"> {#Mobile navbar#}
			<nav class="tab-bar show-for-small">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
				</section>
				<section class="middle tab-bar-section">
					<h1 class="title">{{siteName}}</h1>
				</section>
			</nav>
		</div>
		<div class="fixed">{#Desktop navbar#}
			<nav class="top-bar hide-for-small" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><a href="#">{{siteName}}</a></h1>
					</li>
					 {#Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone#}
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>

				<section class="top-bar-section">
					{#Right nav section, shows welcome message and user money - ONLY IF LOGGED IN#}
					{% if userMoney is defined and username is defined and userMoney >= 0 %}
						{{ knp_menu_render('rightDesktopSection') }}					
					{% endif %}

					{#Left nav section, shows links#}
					{{ knp_menu_render('desktop') }}
				</section>
			</nav>
		</div>
		<aside class="left-off-canvas-menu" aria-hidden="true">
			{{ knp_menu_render('mobile')}}
		</aside>
		<a class="exit-off-canvas"></a>	
{# Closing tags in body.twig #}